$table_margin: 0 auto;
$table_border_collapse: collapse;
$table_width: 80%;
$table_border_radius: 2em;
$th_tr_td_border_bottom: 1px solid rgba(0, 0, 0, 0.5);
$th_tr_td_padding: .3em;
$venue_greeting_width: 50%;
$table_div_padding: 1em;
$table_div_clear:both;


