@import '../abstracts/colors';

table,
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: theme-color('base', 'light');

  tr,
  .tr {
    padding: 0.3em;
    text-align: center;
    border-bottom: 1px solid theme-color('base','dark');
  }

  tr:nth-child(2n),
  .tr:nth-child(2n) {
    background-color: darken(theme-color('base', 'light'), 10%);
  }
}