<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Available Dates</title>
  <meta http-equiv="refresh" content="30"/>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="header">
  <div id="logo_header">
    <h1>Seattle Java User's Group</h1>
  </div>
  <div id="venue_greeting">
    <p th:text="${session.greeting}"></p>
    <p>
      <form method="POST" action="/venueSignUp" modelAttribute="venue">
        <div class="date-request">
          <p th:text="${session.hostingMessage}"></p>
          <!-- Value of yes button & needs host buttons needs to be meetup id -->
          <button th:if="${session.dateAvailable}" type="submit" class="response" id="response-yes" name="meetup" value="${session.requestedDate}">Yes</button>
          <button th:if="${session.dateAvailable}" type="submit" class="response" id="response-no" name="meetup" value="notHosting">No</button>
        </div>
      </form>
    </p>
  </div>
</div>
<br>
<div id="table_div">
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Speaker</th>
      <th>Venue</th>
    </tr>
    </thead>
    <tbody>
      <th:block th:each="meetup : ${session.meetups}">
        <tr>
          <td th:text="${meetup['date']}"></td>
          <td th:text="${meetup['speaker']}"></td>
          <td th:if="${meetup['venue'] == null}">
            <button class="response" type="submit" name="meetup" th:value="${meetup.value['date']}">
              Needs Host
            </button>
          </td>
          <td th:unless="${meetup['venue'] == null}">Reserved</td>
        </tr>
      </th:block>
    </tbody>
  </table>
</div>
</body>
</html>