<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <form method="post" action="/loginAttempt">
        <div class="username">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        
        <div class="password">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </div>
    
        <button type="submit" id="submit" name="submit">Log In</button>
    </form>
</body>
</html>