@import "../abstracts/colors";

body{
  background: $body_color;
}

tr:nth-child(even), th {
  background: $white;
}

tr:nth-child(odd) {
  background: $nth_child_odd
}

#hosting {
  color: $hosting;
}

#response-yes {
  background-color: $hosting;
  color: $white;
}

#response-no {
  @extend #response-yes;
  background-color: $response_no;
}

.date-request {
  background-color: $date_request_box;
}